/* Main Container */
.resume-container {
    margin: 0 auto;
    padding: 40px 100px;
    background-color: #003566;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    height: 100vh;
  }
  
  /* Tabs Navigation */
  .resume-tabs {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
  }
  
  .btn {
    padding: 12px 25px;
    font-size: 16px;
    transition: all 0.3s;
  }
  
  .btn:hover {
    transform: translateY(-3px);
  }
  
  /* Section Styling */
  .section {
    padding: 20px;
    animation: fade-in 0.5s ease-in-out;
  }
  
  .sections-title {
    text-align: center;
    font-size: 3.3rem;
    color: #ffba08;
    margin-bottom: 20px;
  }
  
  /* Grid Layout */
  .grid-container, .skills-grid, .about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  /* Cards Styling */
  .edu-card, .skill-card, .about-card {
    background: #fff;
    border-radius: 8px;
    padding: 25px;
    margin-top: 20px;

    transition: transform 0.3s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .edu-card:hover, .skill-card:hover, .about-card:hover {
    transform: translateY(-10px);
  }
  
  .skill-card .icon {
    font-size: 50px;
    color: #8b0141;
  }
  
  .skill-card h4, .about-card h4 {
    font-size: 18px;
    margin: 15px 0;
  }
  
  /* Badge for Grades */
  .badge {
    display: inline-block;
    background: #28a745;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 10px;
  }
  
  /* Animations */
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (max-width:720px) {
    .resume-container {
      height: auto;
    }
    
  }
  